/.web-server-pid
/app/config/parameters.yml
/build/
/node_modules/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/database
/var/database/*
!var/database/.htaccess
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/address_book/photos/*
!web/uploads/address_book/photos/.htaccess

/.idea
/.DS_Store
