{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-9">
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Address Book Home
        </div>
        <div class="card-body">
            <h2>Welcome to Address Book</h2>
            <p>
                <a href="#">Address Book List</a> |
                <a href="#">Add an Address Book</a>
            </p>
        </div>
    </div>
    <!-- /.card -->
</div>
<!-- /.col-lg-9 -->
{% endblock %}
